SELECT DISTINCT SSBSECT_TERM_CODE
, SSBSECT_CRN, SSBSECT_MAX_ENRL
, SSBSECT_ENRL 
FROM SSBSECT 
WHERE SSBSECT.SSBSECT_TERM_CODE = $!exchange.properties.periodo
AND SSBSECT.SSBSECT_CRN =$!exchange.properties.crn