SELECT SSRMEET_TERM_CODE   PERIODO,
SSBSECT_CRN          CRN,
SSBSECT_SUBJ_CODE     MATERIA,
SUBSTR(SSBSECT_CRSE_NUMB,1,5)    NUMERO,
SSBSECT_SEQ_NUMB      SECCION,
SSRMEET_START_DATE    FECHA_INICIO,
SSRMEET_END_DATE      FECHA_FIN,
SSRMEET_BEGIN_TIME    HORAINI,
SSRMEET_END_TIME      HORAFIN,
NVL(SSRMEET_ROOM_CODE,'-')  SALON,
REPLACE(SSRMEET_SUN_DAY,'U','D')  DOMINGO,
REPLACE(SSRMEET_MON_DAY,'M','L')  LUNES,
REPLACE(SSRMEET_TUE_DAY,'T','M')  MARTES,
REPLACE(SSRMEET_WED_DAY,'W','I')  MIERCOLES,
REPLACE(SSRMEET_THU_DAY,'R','J')  JUEVES,
REPLACE(SSRMEET_FRI_DAY,'F','V')  VIERNES,
SSRMEET_SAT_DAY    SABADO,
NVL(SSBSECT_CRSE_TITLE,SCBCRSE_TITLE)  NOMBRE_CURSO,
SPRIDEN_FIRST_NAME||' '||SPRIDEN_MI 	NOMBRES_PROF,
SPRIDEN_LAST_NAME         				APELLIDOS_PROF,
GOBTPAC_LDAP_USER       				USUARIO_PROF
 FROM SSBSECT, SSRMEET,SCBCRSE,STVCOLL C ,STVSUBJ G ,STVDEPT,SIRASGN,SPRIDEN,SPBPERS,GOBTPAC,STVLGCY
 WHERE SSBSECT_TERM_CODE  = '$!exchange.properties.PERIODO'
 AND SSRMEET_TERM_CODE    = '$!exchange.properties.PERIODO'
 #if(!$!exchange.properties.TODOS || $!exchange.properties.TODOS == '')
	AND SSBSECT_SSTS_CODE  = 'A'
 #end
 #if($!exchange.properties.CRN && $!exchange.properties.CRN != '')
	AND SSRMEET_CRN  = '$!exchange.properties.CRN'
 #end
 AND SSBSECT_CRN          = SSRMEET_CRN	
 AND   SCBCRSE_SUBJ_CODE = SSBSECT_SUBJ_CODE
 AND SCBCRSE_CRSE_NUMB = SSBSECT_CRSE_NUMB
 AND SCBCRSE_COLL_CODE    = C.STVCOLL_CODE
 AND SCBCRSE_SUBJ_CODE    = G.STVSUBJ_CODE
 AND SCBCRSE_DEPT_CODE    = STVDEPT_CODE
  #if($!exchange.properties.SUBJCODE && $!exchange.properties.SUBJCODE != '')
	AND SSBSECT_SUBJ_CODE = '$!exchange.properties.SUBJCODE'
 #end
 AND STVSUBJ_CODE         = SSBSECT_SUBJ_CODE 
  #if($!exchange.properties.CODE && $!exchange.properties.CODE != '')
	AND SSBSECT_CRSE_NUMB = '$!exchange.properties.CODE'
 #end
AND SUBSTR(SSBSECT_CRSE_NUMB,1,5) = SSBSECT_CRSE_NUMB
 AND  SIRASGN_TERM_CODE 	= SSBSECT_TERM_CODE
 AND SIRASGN_CRN       	= SSBSECT_CRN
 AND SIRASGN_PIDM 		= SPRIDEN_PIDM
 AND SPBPERS_PIDM 		= SIRASGN_PIDM
 AND SIRASGN_PIDM 		= GOBTPAC_PIDM (+)
 AND SPRIDEN_CHANGE_IND 	IS NULL
 AND SPBPERS_LGCY_CODE 	= STVLGCY_code (+)
 AND SSBSECT_SUBJ_CODE    =STVSUBJ_CODE
 #if($!exchange.properties.SECCION && $!exchange.properties.SECCION != '')
	AND SSBSECT_SEQ_NUMB = $!headers.SECCION
 #end	
 AND SCBCRSE_EFF_TERM  =
        (SELECT MAX(CR2.SCBCRSE_EFF_TERM)
        FROM SCBCRSE CR2
    WHERE CR2.SCBCRSE_EFF_TERM <= '$!exchange.properties.PERIODO'
      AND CR2.SCBCRSE_SUBJ_CODE = SSBSECT_SUBJ_CODE
            AND CR2.SCBCRSE_CRSE_NUMB = SSBSECT_CRSE_NUMB)
 
 
 