SELECT DISTINCT SSBSECT_TERM_CODE
				, SSBSECT_CRN
				, SSBSECT_MAX_ENRL
				, SSBSECT_ENRL 
FROM SSBSECT 
WHERE SSBSECT.SSBSECT_TERM_CODE LIKE '$!exchange.properties.periodo'
	AND SSBSECT.SSBSECT_CRN LIKE '$!exchange.properties.crn'