SELECT SHRTCKG_GRDE_CODE_FINAL
,SHRTCKN_CRN
,SHRTCKN_PIDM
,SHRTCKN_PTRM_END_DATE
,SHRTCKN_SUBJ_CODE
,SHRTCKN_CRSE_NUMB 
FROM SHRTCKN
,SHRTCKG 
WHERE SHRTCKN_PIDM = SHRTCKG_PIDM 
AND SHRTCKN_SEQ_NO = SHRTCKG_TCKN_SEQ_NO 
AND SHRTCKN_TERM_CODE = SHRTCKG_TERM_CODE 
AND SHRTCKN_CRN ='$!exchange.properties.crn'
AND SHRTCKG_SEQ_NO = (SELECT MAX (SHR2.SHRTCKG_SEQ_NO) 
						FROM SHRTCKG SHR2 
						WHERE SHR2.SHRTCKG_PIDM = SHRTCKN_PIDM 
						AND SHR2.SHRTCKG_TCKN_SEQ_NO = SHRTCKN_SEQ_NO 
						AND SHR2.SHRTCKG_TERM_CODE = SHRTCKN_TERM_CODE) 
AND SHRTCKN_TERM_CODE ='$!exchange.properties.periodo'