SELECT shrtgpa_hours_passed AS C_APROBADOS_S
FROM SHRTGPA
WHERE shrtgpa_gpa_type_ind = 'I'
	AND shrtgpa_pidm = '$!exchange.properties.PIDM'
	AND shrtgpa_term_code = '$!exchange.properties.periodo'
	AND shrtgpa_levl_code = '$!exchange.properties.nivel'