SELECT DISTINCT 
SPRIDEN_PIDM 					PIDM
,SORFOLK_RELT_CODE           	PARENTESCO
,SORFOLK_PARENT_LAST   			APELLIDOS
,SORFOLK_PARENT_FIRST   		PRIMER_NOMBRE
,SORFOLK_PARENT_MI       		SEGUNDO_NOMBRE
,SORFOLK_PARENT_EMPLOYER     	TIPO_DOCUMENTO
,SORFOLK_PARENT_JOB_TITLE    	DOCUMENTO
,SORFOLK_ACTIVITY_DATE 			FECHA 
FROM SORFOLK, SPRIDEN
WHERE SPRIDEN_CHANGE_IND IS NULL
AND SPRIDEN_PIDM  = SORFOLK_PIDM (+) 
AND SPRIDEN_PIDM = $!exchange.properties.spidm
ORDER BY SORFOLK_ACTIVITY_DATE desc