SELECT   
 GOREMAL_EMAIL_ADDRESS CORREO
FROM SORFOLK,GOREMAL
WHERE 
 SORFOLK_PIDM   = GOREMAL_PIDM (+) 
and SORFOLK_PIDM =$!exchange.properties.spidm
AND GOREMAL_EMAL_CODE = 'EREF'
ORDER BY SORFOLK_ACTIVITY_DATE desc