SELECT   
 GOREMAL_EMAIL_ADDRESS CORREOOPT
, SORFOLK_ACTIVITY_DATE
FROM SORFOLK,GOREMAL
WHERE 
 SORFOLK_PIDM   = GOREMAL_PIDM (+) 
and SORFOLK_PIDM =$!exchange.properties.spidm
--AND GOREMAL_EMAL_CODE like '%%'
AND ROWNUM < 3
ORDER BY SORFOLK_ACTIVITY_DATE desc