SELECT DISTINCT SORFOLK_PIDM PIDM
,SORFOLK_RELT_CODE           PARENTESCO
,SORFOLK_PARENT_LAST   APELLIDOS
,SORFOLK_PARENT_FIRST   PRIMER_NOMBRE
,SORFOLK_PARENT_MI       SEGUNDO_NOMBRE
,SORFOLK_PARENT_EMPLOYER     TIPO_DOCUMENTO
,SORFOLK_PARENT_JOB_TITLE    DOCUMENTO
FROM SORFOLK
WHERE SORFOLK_RELT_CODE ='F' --P:PAPA, M:MAMA, C: ACUDIENTE
AND SORFOLK_PIDM ='$!exchange.properties.spidm'