SELECT DISTINCT 
	SPRIDEN_PIDM LLAVE_FUENTE 
     ,SPRIDEN_FIRST_NAME PRIMER_NOMBRE 
     ,SPRIDEN_MI NOMBRE_EST 
     ,DECODE(INSTR(SPRIDEN_LAST_NAME, 'DE LA '), 
  1, SUBSTR(SPRIDEN_LAST_NAME, 1, DECODE(INSTR(SPRIDEN_LAST_NAME, ' ', 7), 0, LENGTH(SPRIDEN_LAST_NAME), INSTR(SPRIDEN_LAST_NAME, ' ', 7) - 1)), 
  DECODE( 
    INSTR(SPRIDEN_LAST_NAME, 'DE '), 
    1, SUBSTR(SPRIDEN_LAST_NAME, 1, DECODE(INSTR(SPRIDEN_LAST_NAME, ' ', 4), 0, LENGTH(SPRIDEN_LAST_NAME), INSTR(SPRIDEN_LAST_NAME, ' ', 4) - 1)), 
    DECODE( 
   INSTR(SPRIDEN_LAST_NAME, 'LA '), 
   1, SUBSTR(SPRIDEN_LAST_NAME, 1, DECODE(INSTR(SPRIDEN_LAST_NAME, ' ', 4), 0, LENGTH(SPRIDEN_LAST_NAME), INSTR(SPRIDEN_LAST_NAME, ' ', 4) - 1)), 
   DECODE( 
     INSTR(SPRIDEN_LAST_NAME, 'Y '),
     1, SUBSTR(SPRIDEN_LAST_NAME, 1, DECODE(INSTR(SPRIDEN_LAST_NAME, ' ', 3), 0, LENGTH(SPRIDEN_LAST_NAME), INSTR(SPRIDEN_LAST_NAME, ' ', 3) - 1)), 
     DECODE(
    INSTR(SPRIDEN_LAST_NAME, ' '),
    0, SPRIDEN_LAST_NAME, 
    SUBSTR(SPRIDEN_LAST_NAME, 1, INSTR(SPRIDEN_LAST_NAME, ' ') - 1) 
     ) 
   ) 
    ) 
  ) 
   ) PRIMER_APELLIDO 
   ,SUBSTR(SPRIDEN_LAST_NAME, 
  DECODE( 
    INSTR(SPRIDEN_LAST_NAME, 'DE LA '), 
    1, LENGTH(SUBSTR(SPRIDEN_LAST_NAME, 1, DECODE(INSTR(SPRIDEN_LAST_NAME, ' ', 7), 0, LENGTH(SPRIDEN_LAST_NAME), INSTR(SPRIDEN_LAST_NAME, ' ', 7) - 1))),
    DECODE( 
   INSTR(SPRIDEN_LAST_NAME, 'DE '), 
   1, LENGTH(SUBSTR(SPRIDEN_LAST_NAME, 1, DECODE(INSTR(SPRIDEN_LAST_NAME, ' ', 4), 0, LENGTH(SPRIDEN_LAST_NAME), INSTR(SPRIDEN_LAST_NAME, ' ', 4) - 1))),
   DECODE( 
     INSTR(SPRIDEN_LAST_NAME, 'LA '), 
     1, LENGTH(SUBSTR(SPRIDEN_LAST_NAME, 1, DECODE(INSTR(SPRIDEN_LAST_NAME, ' ', 4), 0, LENGTH(SPRIDEN_LAST_NAME), INSTR(SPRIDEN_LAST_NAME, ' ', 4) - 1))),
     DECODE( 
    INSTR(SPRIDEN_LAST_NAME, 'Y '), 
    1, LENGTH(SUBSTR(SPRIDEN_LAST_NAME, 1, DECODE(INSTR(SPRIDEN_LAST_NAME, ' ', 3), 0, LENGTH(SPRIDEN_LAST_NAME), INSTR(SPRIDEN_LAST_NAME, ' ', 3) - 1))), 
    DECODE( 
      INSTR(SPRIDEN_LAST_NAME, ' '), 
      0, LENGTH(SPRIDEN_LAST_NAME), 
      LENGTH(SUBSTR(SPRIDEN_LAST_NAME, 1, INSTR(SPRIDEN_LAST_NAME, ' ') - 1)) 
    ) 
     ) 
   ) 
    ) 
  ) + 2 
   ) SEGUNDO_APELLIDO 
     ,DECODE(SPBPERS_SEX,'M','MASCULINO','F','FEMENINO','ND') GENERO 
     , TO_CHAR(SPBPERS_BIRTH_DATE,'DD/MM/YYYY hh24:mi:ss')             FECHA_NAC
     ,SPBPERS_MRTL_CODE            EST_CIVIL 
     ,STVMRTL_DESC                 DESC_EST_CIVIL 
     ,SPBPERS_DEAD_IND                ES_FALLECIDO 
     ,SPBPERS_CITZ_CODE          NACIONALIDAD 
     ,SPBPERS_CITY_BIRTH          CIUDAD 
     ,SPBPERS_STAT_CODE_BIRTH         DEPARTAMENTO 
     ,SPBPERS_NATN_CODE_DRIVER        PAIS 
   FROM SPRIDEN, SPBPERS, STVMRTL 
  WHERE SPRIDEN_PIDM   = SPBPERS_PIDM (+) 
     AND SPRIDEN_PIDM = '$!exchange.properties.spidm' 
    AND SPRIDEN_CHANGE_IND  IS NULL 
    AND SPBPERS_MRTL_CODE  = STVMRTL.STVMRTL_CODE (+) 
    AND SPRIDEN_ENTITY_IND   = 'P'