SELECT DISTINCT 
		 SORHSCH_PIDM PIDM
		,SORHSCH_SBGI_CODE CODE
		,STVSBGI_DESC DESCRIPCION
		,SOBSBGI_CITY CITY
		,SOBSBGI_NATN_CODE COD_PAIS
		,SOBSBGI_STAT_CODE  COD_DPTO
		,SOBSBGI_CNTY_CODE  COD_CIUDAD
		,SOBSBGI_ZIP  COD_POSTAL
		,SWTHSNL_DANE_CODE  COD_DANE
		,STVSBGI_TYPE_IND   IND_COLEGIO_UNIV 
FROM 
		  SORHSCH H1
		, STVSBGI
		, SOBSBGI
		, SWTHSNL 

WHERE 
		SORHSCH_SBGI_CODE = STVSBGI_CODE(+)
	AND SORHSCH_SBGI_CODE = SOBSBGI_SBGI_CODE (+) 
	AND SORHSCH_ACTIVITY_DATE = 
			(SELECT MAX(C2.SORHSCH_ACTIVITY_DATE) 
				FROM SORHSCH C2
				WHERE C2.SORHSCH_PIDM = H1.SORHSCH_PIDM) 
	AND STVSBGI_TYPE_IND = 'H' 
	AND SORHSCH_PIDM = '$!exchange.properties.spidm' 
	AND SORHSCH_SBGI_CODE = SWTHSNL_SBGI_CODE (+)
UNION 
SELECT DISTINCT 
	SORPCOL_PIDM PIDM
	, SORPCOL_SBGI_CODE  CODE
	, STVSBGI_DESC   DESCRIPCION
	, SOBSBGI_CITY CITY
	, SOBSBGI_NATN_CODE  COD_PAIS
	,SOBSBGI_STAT_CODE  COD_DPTO
	, SOBSBGI_CNTY_CODE  COD_CIUDAD
	, SOBSBGI_ZIP  COD_POSTAL
	,''COD_DANE
	, STVSBGI_TYPE_IND IND_COLEGIO_UNIV
FROM 
	  SORPCOL
	, SOBSBGI
	, STVSBGI 
WHERE 
		SORPCOL_SBGI_CODE = STVSBGI_CODE (+)
	AND SORPCOL_SBGI_CODE = SOBSBGI_SBGI_CODE (+) 
	AND STVSBGI_TYPE_IND = 'C'
	AND SORPCOL_PIDM ='$!exchange.properties.spidm'