SELECT DISTINCT 
	SIRASGN_TERM_CODE PERIODO ,
	SIRASGN_CRN CRN ,
	SIRASGN_PIDM PIDM,
	F_DOC_IDENT(SIRASGN_PIDM) LLAVE_PROF,
	SIRASGN.SIRASGN_PRIMARY_IND IND_PROF_PRINC ,
	SIRASGN_PERCENT_RESPONSE PORCENTAJE_RESPONSABILIDA  ,
	SIRASGN_PERCENT_SESS PORCENTAJE_SESSION ,
	GOBTPAC_LDAP_USER       LOGIN_UNIANDES 
FROM 
	SIRASGN, 
	SSBSECT,
	GOBTPAC 
WHERE 
	SIRASGN_TERM_CODE = '$headers.periodo' 
	AND SSBSECT_TERM_CODE = '$headers.periodo' 
	AND SIRASGN_TERM_CODE    = SSBSECT_TERM_CODE 
	AND SIRASGN_CRN  = SSBSECT_CRN 
	AND SIRASGN_PIDM        = GOBTPAC_PIDM (+)
	AND SIRASGN_PIDM  = '$!exchange.properties.PIDM'