SELECT DISTINCT SSBSECT_TERM_CODE PERIODO
   ,SSBSECT_CRN  CRN 
   ,C1.SCBCRSE_CRSE_NUMB  CURSO 
   ,SSBSECT_SEQ_NUMB SECCION 
   ,C1.SCBCRSE_TITLE  NOMBRE_CURSO   
FROM SSBSECT 
   ,SCBCRSE C1  
   ,STVCOLL C 
   ,STVSUBJ G 
   ,STVDEPT 
   ,STVSCHD 
   ,(SELECT SSRATTR_CRN  CRN 
     	,SSRATTR_ATTR_CODE   ATRIB 
     	,STVATTR_DESC     ATRIB_DESC 
     FROM SSRATTR,STVATTR 
     WHERE SSRATTR_TERM_CODE = '$!exchange.properties.periodo'
		AND STVATTR_CODE  = SSRATTR_ATTR_CODE 
		AND SSRATTR_ATTR_CODE IN('CAAH','CACS','CACT','CBAH','CBCS','CBCT','FIAH','FICS','FICT','FINT')) T_ATRIB_SEC_BASICO 
    		,(SELECT SSRATTR_CRN    CRN
          		,SSRATTR_ATTR_CODE   ATRIB
            	,STVATTR_DESC        ATRIB_DESC 
      			FROM SSRATTR,STVATTR 
      			WHERE SSRATTR_TERM_CODE = '$!exchange.properties.periodo' 
	      			AND STVATTR_CODE      = SSRATTR_ATTR_CODE 
	   				AND SSRATTR_ATTR_CODE = 'ECUR') T_ATRIB_SEC_E 
    			,(SELECT SSRATTR_CRN   CRN 
	            	,SSRATTR_ATTR_CODE   ATRIB 
	            	,STVATTR_DESC   ATRIB_DESC 
	      			FROM SSRATTR,STVATTR
	      			WHERE SSRATTR_TERM_CODE = '$!exchange.properties.periodo' 
		      			AND STVATTR_CODE      = SSRATTR_ATTR_CODE 
		   				AND SSRATTR_ATTR_CODE = 'BLEN') T_ATRIB_BLEN 
WHERE SSBSECT_TERM_CODE = '$!exchange.properties.periodo' 
	AND SSBSECT_SUBJ_CODE = C1.SCBCRSE_SUBJ_CODE 
	AND SSBSECT_CRSE_NUMB = C1.SCBCRSE_CRSE_NUMB 
	AND C1.SCBCRSE_EFF_TERM = (SELECT MAX (C2.SCBCRSE_EFF_TERM) 
							   FROM SCBCRSE C2 
							   WHERE C1.SCBCRSE_SUBJ_CODE = C2.SCBCRSE_SUBJ_CODE 
								    AND C1.SCBCRSE_CRSE_NUMB = C2.SCBCRSE_CRSE_NUMB 
								    AND C2.SCBCRSE_EFF_TERM <= '$!exchange.properties.periodo') 
	AND SSBSECT_CRN          = T_ATRIB_SEC_BASICO.CRN(+) 
	AND SSBSECT_CRN          = T_ATRIB_SEC_E.CRN(+) 
	AND SSBSECT_CRN          = T_ATRIB_BLEN.CRN(+) 
	AND C1.SCBCRSE_COLL_CODE = C.STVCOLL_CODE 
	AND C1.SCBCRSE_SUBJ_CODE = G.STVSUBJ_CODE 
	AND C1.SCBCRSE_DEPT_CODE = STVDEPT_CODE 
	AND SSBSECT_SCHD_CODE    = STVSCHD_CODE 
	AND SSBSECT_CRN = '$!exchange.properties.crn' 
ORDER BY C.STVCOLL_CODE
	, C1.SCBCRSE_SUBJ_CODE
	, C1.SCBCRSE_CRSE_NUMB
	, SSBSECT_SEQ_NUMB