SELECT DISTINCT stvcoll_code fac, 

                stvcoll_desc facultad,

                sorcmjr.sorcmjr_dept_code dpto,

                stvdept.stvdept_desc departamento,
                
                smrprle_program prog,

                smrprle_program_desc programa,

                smrprle.smrprle_levl_code_stu nivel

FROM smrprle, stvcoll, sobcurr, sorcmjr, stvdept

WHERE smrprle_coll_code = stvcoll_code

AND sobcurr.sobcurr_curr_rule = sorcmjr.sorcmjr_curr_rule

AND sorcmjr_term_code_eff =

                   (SELECT MAX (mjr2.sorcmjr_term_code_eff)

                      FROM sorcmjr mjr2

                     WHERE mjr2.sorcmjr_curr_rule = sobcurr_curr_rule)

AND sobcurr.sobcurr_program = smrprle.smrprle_program

AND sorcmjr.sorcmjr_dept_code = stvdept.stvdept_code


## implementacion de busqueda
	
	#if($headers.programName && $headers.programName != '')
	AND upper(smrprle_program_desc)  LIKE upper('%$headers.programName%')
	#end