SELECT COUNT(*) AS TOTAL_PERFILES_VALIDOS FROM 
	 ( 
		 SELECT VENCE,NIP,IDU,
		 ( SELECT ESTADO FROM DEPOSITO.PERFILES_SYMPHONY WHERE DEPOSITO.PERFILES_SYMPHONY.ID_PERFIL = PERFILS) AS ESTADO, 
		 ( SELECT UPPER( EZPROXY) FROM DEPOSITO.PERFILES_SYMPHONY WHERE DEPOSITO.PERFILES_SYMPHONY.ID_PERFIL = PERFILS) AS EZPROXY 
		 FROM 
		 ( 
			 SELECT PROFILE AS PERFILS, ID AS IDU, TO_CHAR( DATE_PRIVILEGE_EXPIRES, 'YYYYMMDD') AS VENCE,PIN AS NIP
			 FROM SIRSI.USERS 
			 WHERE 
			 SIRSI.USERS.ADDRESS_OFFSET_1 IN 
			 ( SELECT OFFSET AS OFFSETDIR1 FROM SIRSI.USERXINFO WHERE ENTRY_NUMBER = 9007 AND LOWER( ENTRY) = LOWER( '$!exchange.properties.username@uniandes.edu.co')) 
		 ) 
	 ) 
 WHERE 
	 ESTADO = 'S' AND 
	 EZPROXY = '$!exchange.properties.cliente' AND 
	 ( VENCE >= TO_CHAR( SYSDATE,'YYYYMMDD') OR VENCE = '19000101') AND
	 NIP = '$!exchange.properties.password' AND
	 IDU = '$!exchange.properties.username'